DATABASE_URL=postgresql://vitalgoal:vitalgoal@localhost:5435/vitalgoal
PORT=3000
JWT_SECRET="something"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth/google/callback
FRONTEND_URL=http://localhost:xxxx
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=
AZURE_SAS_TTL_SECONDS=3600
